# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lkg/2020-01-26/Game/ColorScale.cpp
lkg/2020-01-26/Game/ColorScale.h
lkg/2020-01-26/Game/Default.h
lkg/2020-01-26/Game/DescTree.cpp
lkg/2020-01-26/Game/DescTree.h
lkg/2020-01-26/Game/Game_MVC2_D.cpp
lkg/2020-01-26/Game/Game_MVC2_D.h
lkg/2020-01-26/Game/Game_MVC2_P.cpp
lkg/2020-01-26/Game/Game_MVC2_P.h
lkg/2020-01-26/Game/Game_MVC_A.cpp
lkg/2020-01-26/Game/Game_MVC_A.h
lkg/2020-01-26/Game/Game_SFA3_A.cpp
lkg/2020-01-26/Game/Game_SFA3_A.h
lkg/2020-01-26/Game/Game_SFIII3_A.cpp
lkg/2020-01-26/Game/Game_SFIII3_A.cppbak.cc
lkg/2020-01-26/Game/Game_SFIII3_A.cppbakup.cc
lkg/2020-01-26/Game/Game_SFIII3_A.h
lkg/2020-01-26/Game/Game_SFIII3_D.cpp
lkg/2020-01-26/Game/Game_SFIII3_D.h
lkg/2020-01-26/Game/Game_SSF2T_A.cpp
lkg/2020-01-26/Game/Game_SSF2T_A.h
lkg/2020-01-26/Game/Game_XMVSF_A.cpp
lkg/2020-01-26/Game/Game_XMVSF_A.h
lkg/2020-01-26/Game/GameClass.cpp
lkg/2020-01-26/Game/GameClass.h
lkg/2020-01-26/Game/GameDef.h
lkg/2020-01-26/Game/GameLoad.cpp
lkg/2020-01-26/Game/GameLoad.h
lkg/2020-01-26/Game/ImgTicket.h
lkg/2020-01-26/Game/MVC2_D_Def.h
lkg/2020-01-26/Game/MVC2_PALSEL.cpp
lkg/2020-01-26/Game/MVC2_SUPP.cpp
lkg/2020-01-26/Game/mvc2_supp.h
lkg/2020-01-26/Game/MVC_A_DEF.h
lkg/2020-01-26/Game/PalGroup.cpp
lkg/2020-01-26/Game/PalGroup.h
lkg/2020-01-26/Game/SFA3_A_DEF.h
lkg/2020-01-26/Game/SFIII3_A_DEF.h
lkg/2020-01-26/Game/SFIII3_D_DEF.h
lkg/2020-01-26/Game/ShellSort.cpp
lkg/2020-01-26/Game/ShellSort.h
lkg/2020-01-26/Game/SSF2T_A_DEF.h
lkg/2020-01-26/Game/XMVSF_A_DEF.h
lkg/2020-01-26/Game_SFIII3_A_EXTRA.cpp
lkg/2020-01-26/ImgDat.cpp
lkg/2020-01-26/ImgDat.h
lkg/2020-01-26/ImgDisp.cpp
lkg/2020-01-26/ImgDisp.h
lkg/2020-01-26/ImgDumpBmp.cpp
lkg/2020-01-26/ImgDumpBmp.h
lkg/2020-01-26/ImgOutDlg.cpp
lkg/2020-01-26/ImgOutDlg.h
lkg/2020-01-26/Junk.cpp
lkg/2020-01-26/Junk.h
lkg/2020-01-26/JunkC.h
lkg/2020-01-26/newgamedummy/Game_MVC_A.cpp
lkg/2020-01-26/newgamedummy/Game_MVC_A.h
lkg/2020-01-26/newgamedummy/MVC_A_DEF.h
lkg/2020-01-26/Notes.txt
lkg/2020-01-26/PalMod.aps
lkg/2020-01-26/PalMod.cpp
lkg/2020-01-26/PalMod.h
lkg/2020-01-26/PalMod.rc
lkg/2020-01-26/PalMod.sln
lkg/2020-01-26/PalMod.vcproj
lkg/2020-01-26/PalMod.vcproj.KAZUYA-1E4C792D.Tatsu.user
lkg/2020-01-26/PalMod.vcxproj
lkg/2020-01-26/PalMod.vcxproj.filters
lkg/2020-01-26/PalMod.vcxproj.user
lkg/2020-01-26/PalModDlg.cpp
lkg/2020-01-26/PalModDlg.h
lkg/2020-01-26/PalModDlg_Color.cpp
lkg/2020-01-26/PalModDlg_Config.cpp
lkg/2020-01-26/PalModDlg_Debug.cpp
lkg/2020-01-26/PalModDlg_Edit.cpp
lkg/2020-01-26/PalModDlg_File.cpp
lkg/2020-01-26/PalModDlg_General.cpp
lkg/2020-01-26/PalModDlg_Menu.cpp
lkg/2020-01-26/PalTool.cpp
lkg/2020-01-26/PalTool.h
lkg/2020-01-26/PreviewDlg.cpp
lkg/2020-01-26/PreviewDlg.h
lkg/2020-01-26/RegProc.cpp
lkg/2020-01-26/RegProc.h
lkg/2020-01-26/res/PalMod.ico
lkg/2020-01-26/res/PalMod.rc2
lkg/2020-01-26/res/Thumbs.db
lkg/2020-01-26/resource.h
lkg/2020-01-26/SettDlg.cpp
lkg/2020-01-26/SettDlg.h
lkg/2020-01-26/SSF2T_A_DEF.h
lkg/2020-01-26/stdafx.cpp
lkg/2020-01-26/stdafx.h
lkg/2020-01-26/targetver.h
lkg/2020-01-26/UndoRedo.cpp
lkg/2020-01-26/UndoRedo.h
lkg/2020-01-26/UpgradeLog.htm
lkg/2020-01-26/UpgradeLog2.htm
lkg/2020-01-27/
lkg/2020-02-08/Debug/img.dat
lkg/2020-02-08/Debug/PalMod.Build.CppClean.log
lkg/2020-02-08/Debug/PalMod.exe.embed.manifest
lkg/2020-02-08/Debug/PalMod.exe.embed.manifest.res
lkg/2020-02-08/Debug/PalMod.ilk
lkg/2020-02-08/Debug/PalMod.log
lkg/2020-02-08/Debug/PalMod.pdb
lkg/2020-02-08/Debug/PalMod.res
lkg/2020-02-08/Debug/PalMod.tlog/CL.command.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/CL.read.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/CL.write.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/link.command.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/link.read.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/link.write.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/PalMod.lastbuildstate
lkg/2020-02-08/Debug/PalMod.tlog/rc.command.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/rc.read.1.tlog
lkg/2020-02-08/Debug/PalMod.tlog/rc.write.1.tlog
lkg/2020-02-08/Debug/PalMod.vcxproj.FileListAbsolute.txt
lkg/2020-02-08/Debug/PalMod_manifest.rc
lkg/2020-02-08/Debug/vc142.idb
lkg/2020-02-08/Debug/vc142.pdb
lkg/2020-02-08/Game/ColorScale.cpp
lkg/2020-02-08/Game/ColorScale.h
lkg/2020-02-08/Game/Default.h
lkg/2020-02-08/Game/DescTree.cpp
lkg/2020-02-08/Game/DescTree.h
lkg/2020-02-08/Game/Game_MVC2_D.cpp
lkg/2020-02-08/Game/Game_MVC2_D.h
lkg/2020-02-08/Game/Game_MVC2_P.cpp
lkg/2020-02-08/Game/Game_MVC2_P.h
lkg/2020-02-08/Game/Game_MVC_A.cpp
lkg/2020-02-08/Game/Game_MVC_A.h
lkg/2020-02-08/Game/Game_SFA3_A.cpp
lkg/2020-02-08/Game/Game_SFA3_A.h
lkg/2020-02-08/Game/Game_SFIII3_A.cpp
lkg/2020-02-08/Game/Game_SFIII3_A.cppbak.cc
lkg/2020-02-08/Game/Game_SFIII3_A.cppbakup.cc
lkg/2020-02-08/Game/Game_SFIII3_A.h
lkg/2020-02-08/Game/Game_SFIII3_D.cpp
lkg/2020-02-08/Game/Game_SFIII3_D.h
lkg/2020-02-08/Game/Game_SSF2T_A.cpp
lkg/2020-02-08/Game/Game_SSF2T_A.h
lkg/2020-02-08/Game/Game_XMVSF_A.cpp
lkg/2020-02-08/Game/Game_XMVSF_A.h
lkg/2020-02-08/Game/GameClass.cpp
lkg/2020-02-08/Game/GameClass.h
lkg/2020-02-08/Game/GameDef.h
lkg/2020-02-08/Game/GameLoad.cpp
lkg/2020-02-08/Game/GameLoad.h
lkg/2020-02-08/Game/ImgTicket.h
lkg/2020-02-08/Game/MVC2_D_Def.h
lkg/2020-02-08/Game/MVC2_PALSEL.cpp
lkg/2020-02-08/Game/MVC2_SUPP.cpp
lkg/2020-02-08/Game/mvc2_supp.h
lkg/2020-02-08/Game/MVC_A_DEF.h
lkg/2020-02-08/Game/PalGroup.cpp
lkg/2020-02-08/Game/PalGroup.h
lkg/2020-02-08/Game/SFA3_A_DEF.h
lkg/2020-02-08/Game/SFIII3_A_DEF.h
lkg/2020-02-08/Game/SFIII3_D_DEF.h
lkg/2020-02-08/Game/ShellSort.cpp
lkg/2020-02-08/Game/ShellSort.h
lkg/2020-02-08/Game/SSF2T_A_DEF.h
lkg/2020-02-08/Game/XMVSF_A_DEF.h
lkg/2020-02-08/Game_SFIII3_A_EXTRA.cpp
lkg/2020-02-08/ImgDat.cpp
lkg/2020-02-08/ImgDat.h
lkg/2020-02-08/ImgDisp.cpp
lkg/2020-02-08/ImgDisp.h
lkg/2020-02-08/ImgDumpBmp.cpp
lkg/2020-02-08/ImgDumpBmp.h
lkg/2020-02-08/ImgOutDlg.cpp
lkg/2020-02-08/ImgOutDlg.h
lkg/2020-02-08/Junk.cpp
lkg/2020-02-08/Junk.h
lkg/2020-02-08/JunkC.h
lkg/2020-02-08/newgamedummy/Game_MVC_A.cpp
lkg/2020-02-08/newgamedummy/Game_MVC_A.h
lkg/2020-02-08/newgamedummy/MVC_A_DEF.h
lkg/2020-02-08/Notes.txt
lkg/2020-02-08/PalMod.aps
lkg/2020-02-08/PalMod.cpp
lkg/2020-02-08/PalMod.h
lkg/2020-02-08/PalMod.rc
lkg/2020-02-08/PalMod.sln
lkg/2020-02-08/PalMod.vcproj
lkg/2020-02-08/PalMod.vcproj.KAZUYA-1E4C792D.Tatsu.user
lkg/2020-02-08/PalMod.vcxproj
lkg/2020-02-08/PalMod.vcxproj.filters
lkg/2020-02-08/PalMod.vcxproj.user
lkg/2020-02-08/palmod/res/palmod_.manifest
lkg/2020-02-08/PalModDlg.cpp
lkg/2020-02-08/PalModDlg.h
lkg/2020-02-08/PalModDlg_Color.cpp
lkg/2020-02-08/PalModDlg_Config.cpp
lkg/2020-02-08/PalModDlg_Debug.cpp
lkg/2020-02-08/PalModDlg_Edit.cpp
lkg/2020-02-08/PalModDlg_File.cpp
lkg/2020-02-08/PalModDlg_General.cpp
lkg/2020-02-08/PalModDlg_Menu.cpp
lkg/2020-02-08/PalTool.cpp
lkg/2020-02-08/PalTool.h
lkg/2020-02-08/PreviewDlg.cpp
lkg/2020-02-08/PreviewDlg.h
lkg/2020-02-08/RegProc.cpp
lkg/2020-02-08/RegProc.h
lkg/2020-02-08/Release/img.dat
lkg/2020-02-08/Release/PalMod.Build.CppClean.log
lkg/2020-02-08/Release/PalMod.iobj
lkg/2020-02-08/Release/PalMod.ipdb
lkg/2020-02-08/Release/PalMod.log
lkg/2020-02-08/Release/PalMod.pdb
lkg/2020-02-08/Release/PalMod.res
lkg/2020-02-08/Release/PalMod.tlog/CL.command.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/CL.read.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/CL.write.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/link.command.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/link.read.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/link.write.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/PalMod.lastbuildstate
lkg/2020-02-08/Release/PalMod.tlog/PalMod.write.1u.tlog
lkg/2020-02-08/Release/PalMod.tlog/rc.command.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/rc.read.1.tlog
lkg/2020-02-08/Release/PalMod.tlog/rc.write.1.tlog
lkg/2020-02-08/Release/PalMod.vcxproj.FileListAbsolute.txt
lkg/2020-02-08/Release/vc142.pdb
lkg/2020-02-08/res/PalMod.ico
lkg/2020-02-08/res/PalMod.rc2
lkg/2020-02-08/res/palmod_.manifest
lkg/2020-02-08/res/Thumbs.db
lkg/2020-02-08/resource.h
lkg/2020-02-08/SettDlg.cpp
lkg/2020-02-08/SettDlg.h
lkg/2020-02-08/SSF2T_A_DEF.h
lkg/2020-02-08/stdafx.cpp
lkg/2020-02-08/stdafx.h
lkg/2020-02-08/targetver.h
lkg/2020-02-08/UndoRedo.cpp
lkg/2020-02-08/UndoRedo.h
lkg/2020-02-08/UpgradeLog.htm
lkg/2020-02-08/UpgradeLog2.htm
palmod/Debug/vc142.pdb
palmod/Debug/vc142.idb
palmod/Debug/PalMod_manifest.rc
palmod/Debug/PalMod.vcxproj.FileListAbsolute.txt
palmod/Debug/PalMod.tlog/rc.write.1.tlog
palmod/Debug/PalMod.tlog/rc.read.1.tlog
palmod/Debug/PalMod.tlog/rc.command.1.tlog
palmod/Debug/PalMod.tlog/PalMod.lastbuildstate
palmod/Debug/PalMod.tlog/link.write.1.tlog
palmod/Debug/PalMod.tlog/link.read.1.tlog
palmod/Debug/PalMod.tlog/link.command.1.tlog
palmod/Debug/PalMod.tlog/CL.write.1.tlog
palmod/Debug/PalMod.tlog/CL.read.1.tlog
palmod/Debug/PalMod.tlog/CL.command.1.tlog
palmod/Debug/PalMod.res
palmod/Debug/PalMod.pdb
palmod/Debug/PalMod.log
palmod/Debug/PalMod.ilk
palmod/Debug/PalMod.exe.embed.manifest.res
palmod/Debug/PalMod.exe.embed.manifest
palmod/Debug/PalMod.Build.CppClean.log
palmod/.vs/PalMod/v16/ipch/AutoPCH/972509fe7d565cc6/PALTOOL.ipch
palmod/.vs/PalMod/v16/ipch/AutoPCH/3cfaa5a9d913ae55/PALTOOL.ipch
palmod/.vs/PalMod/v16/ipch/84c96b01cff5e030.ipch
palmod/.vs/PalMod/v16/ipch/5769ecf4bd474650.ipch
palmod/.vs/PalMod/v16/Browse.VC.opendb
palmod/.vs/PalMod/v16/Browse.VC.db
palmod/.vs/PalMod/v16/.suo
palmod/Release/img.dat-ORIGINAL
palmod/Release/PalMod.Build.CppClean.log
palmod/Release/PalMod.iobj
palmod/Release/PalMod.ipdb
palmod/Release/PalMod.log
palmod/Release/PalMod.pdb
palmod/Release/PalMod.res
palmod/Release/PalMod.tlog/CL.command.1.tlog
palmod/Release/PalMod.tlog/CL.read.1.tlog
palmod/Release/PalMod.tlog/CL.write.1.tlog
palmod/Release/PalMod.tlog/link.command.1.tlog
palmod/Release/PalMod.tlog/link.delete.1.tlog
palmod/Release/PalMod.tlog/link.read.1.tlog
palmod/Release/PalMod.tlog/link.write.1.tlog
palmod/Release/PalMod.tlog/PalMod.lastbuildstate
palmod/Release/PalMod.tlog/PalMod.write.1u.tlog
palmod/Release/PalMod.tlog/rc.command.1.tlog
palmod/Release/PalMod.tlog/rc.read.1.tlog
palmod/Release/PalMod.tlog/rc.write.1.tlog
palmod/Release/PalMod.vcxproj.FileListAbsolute.txt
palmod/Release/vc142.pdb
palmod2014/Debug/PalMod.exe.embed.manifest
palmod2014/Debug/PalMod.exe.embed.manifest.res
palmod2014/Debug/PalMod.ilk
palmod2014/Debug/PalMod.log
palmod2014/Debug/PalMod.pdb
palmod2014/Debug/PalMod.res
palmod2014/Debug/PalMod.tlog/CL.command.1.tlog
palmod2014/Debug/PalMod.tlog/CL.read.1.tlog
palmod2014/Debug/PalMod.tlog/CL.write.1.tlog
palmod2014/Debug/PalMod.tlog/link.command.1.tlog
palmod2014/Debug/PalMod.tlog/link.read.1.tlog
palmod2014/Debug/PalMod.tlog/link.write.1.tlog
palmod2014/Debug/PalMod.tlog/PalMod.lastbuildstate
palmod2014/Debug/PalMod.tlog/rc.command.1.tlog
palmod2014/Debug/PalMod.tlog/rc.read.1.tlog
palmod2014/Debug/PalMod.tlog/rc.write.1.tlog
palmod2014/Debug/PalMod_manifest.rc
palmod2014/Debug/vc142.idb
palmod2014/Debug/vc142.pdb
palmod2014/Release/PalMod.Build.CppClean.log
palmod2014/Release/PalMod.iobj
palmod2014/Release/PalMod.ipdb
palmod2014/Release/PalMod.log
palmod2014/Release/PalMod.pdb
palmod2014/Release/PalMod.res
palmod2014/Release/PalMod.tlog/CL.command.1.tlog
palmod2014/Release/PalMod.tlog/CL.read.1.tlog
palmod2014/Release/PalMod.tlog/CL.write.1.tlog
palmod2014/Release/PalMod.tlog/link.command.1.tlog
palmod2014/Release/PalMod.tlog/link.delete.1.tlog
palmod2014/Release/PalMod.tlog/link.read.1.tlog
palmod2014/Release/PalMod.tlog/link.write.1.tlog
palmod2014/Release/PalMod.tlog/PalMod.lastbuildstate
palmod2014/Release/PalMod.tlog/PalMod.write.1u.tlog
palmod2014/Release/PalMod.tlog/rc.command.1.tlog
palmod2014/Release/PalMod.tlog/rc.read.1.tlog
palmod2014/Release/PalMod.tlog/rc.write.1.tlog
palmod2014/Release/PalMod.vcxproj.FileListAbsolute.txt
palmod2014/Release/vc142.pdb
palmod2014/x64/Debug/PalMod.exe.embed.manifest
palmod2014/x64/Debug/PalMod.exe.embed.manifest.res
palmod2014/x64/Debug/PalMod.ilk
palmod2014/x64/Debug/PalMod.log
palmod2014/x64/Debug/PalMod.pdb
palmod2014/x64/Debug/PalMod.res
palmod2014/x64/Debug/PalMod.tlog/CL.command.1.tlog
palmod2014/x64/Debug/PalMod.tlog/CL.read.1.tlog
palmod2014/x64/Debug/PalMod.tlog/CL.write.1.tlog
palmod2014/x64/Debug/PalMod.tlog/link.command.1.tlog
palmod2014/x64/Debug/PalMod.tlog/link.read.1.tlog
palmod2014/x64/Debug/PalMod.tlog/link.write.1.tlog
palmod2014/x64/Debug/PalMod.tlog/PalMod.lastbuildstate
palmod2014/x64/Debug/PalMod.tlog/rc.command.1.tlog
palmod2014/x64/Debug/PalMod.tlog/rc.read.1.tlog
palmod2014/x64/Debug/PalMod.tlog/rc.write.1.tlog
palmod2014/x64/Debug/PalMod_manifest.rc
palmod2014/x64/Debug/vc142.pdb
*.ipch
*.db
palmod2014/.vs/PalMod/v16/.suo
palmod/Release/img.dat-old
palmod/PalMod.aps
*.aps
*.tlog
*.aps
*.aps
*.aps
palmod/PalMod.aps
palmod/Debug/51
*.rar
palmod/Debug/jojoba_japan_nocd.29f400.u2
*.zip
palmod/Debug/sfiii3e.txt
palmod/Release/sfiii3e.txt
*.xml
*.sarif
*.lastcodeanalysissucceeded
*.pchast
*.06
palmod/PalMod.aps
palmod/enc_temp_folder/24b6cb4ae6f54b267cefa5e88998b328/Game_MVC_A.h
palmod/Debug/img.datOLD
palmod/PalMod.aps
palmod/PalMod.aps
palmod/PalMod.aps
palmod/PalMod.aps
palmod/PalMod.aps
palmod/Release/img.dat-CURRENT
palmod/PalMod.aps
palmod/PalMod.aps
palmod/PalMod.aps
palmod/Debug/jojos50e.txt
palmod/Debug/jojos51e.txt
palmod/Release/jojos50e.txt
palmod/Release/jojos51e.txt
palmod/Debug/img2020.dat
palmod/Release/img2020.dat
palmod/Release/img.dat
palmod/Release/img.dat
palmod/Release/mvce.txt
palmod/Release/mvce.txt
palmod/Release/mshe.txt
palmod/Release/ssf2te.txt
palmod/Release/cotae.txt
palmod/Release/xmvsfe.txt
palmod/Release/mshvsf-6ae.txt
palmod/Game/cotaesort.txt
palmod/Debug/cotae.txt
palmod/Debug/msh6e.txt
palmod/Debug/msh06e.txt
palmod/.vs/PalMod/v16/Browse.VC.db-wal
palmod/.vs/PalMod/v16/Browse.VC.db-shm
palmod/Debug/mvc2e.txt
palmod/Debug/mshe.txt
palmod/Debug/mshvsf-6ae.txt
palmod/Release/garoue.txt
palmod/Debug/garoue.txt
palmod/Release/neogeoe.txt
palmod/Release/kof02ume.txt
palmod/Debug/sfa3e.txt
palmod/Debug/cvs2e.txt
palmod/Release/sfa3e.txt
palmod/Debug/kof02e.txt
palmod/Debug/neogeoe.txt
palmod/Debug/sfa2e.txt
palmod/Release/sfa2e.txt
palmod/Release/kof98e.txt
palmod/aa.txt
palmod/Release/sfa28e.txt
palmod/Debug/sfa2-8e.txt
palmod/Release/sfa2-8e.txt
palmod/Release/mvc2e.txt
palmod/KOF98Patch.ips
palmod/Release/sfa1e.txt
palmod/Release/vsave.txt
palmod/Release/samsho3e.txt
palmod/Release/sfiii3-10e.txt
palmod/Release/vhunt2e.txt
palmod/Release/ssf2t-4ae.txt
palmod/Release/Unknowne.txt
palmod/Release/vsav2e.txt
palmod/x64/Release/PalMod.exe.recipe
palmod/x64/Release/PalMod.iobj
palmod/x64/Release/PalMod.ipdb
palmod/x64/Release/PalMod.log
palmod/x64/Release/PalMod.pdb
palmod/x64/Release/PalMod.res
palmod/x64/Release/PalMod.vcxproj.FileListAbsolute.txt
palmod/x64/Release/vc142.pdb
palmod/x64/Release/img2020.dat
palmod/Debug/wakuwaku7e.txt
palmod/bb.txt
palmod/x64/Release/PalMod.Build.CppClean.log
palmod/Debug/unknowne.txt
palmod/Release/karnovse.txt
palmod/Release/sfIII2e.txt
palmod/palmod-debug.txt
palmod/x64/Debug/img2020.dat
palmod/Release/kof97e.txt
palmod/Debug/xmvsfe.txt
palmod/Debug/mvce.txt
en-gb/Debug/en-gb.Build.CppClean.log
en-gb/Debug/en-gb.idb
en-gb/Debug/en-gb.lib.recipe
en-gb/Debug/en-gb.log
en-gb/Debug/en-gb.pdb
en-gb/Debug/en-gb.res
en-gb/Debug/en-gb.vcxproj.FileListAbsolute.txt
en-gb/Debug/palmod.muires
en-gb/Release/en-gb.Build.CppClean.log
en-gb/Release/en-gb.lib.recipe
en-gb/Release/en-gb.log
en-gb/Release/en-gb.pdb
en-gb/Release/en-gb.res
en-gb/Release/en-gb.vcxproj.FileListAbsolute.txt
en-gb/Release/palmod.muires
palmod/.vs/PalMod/v16/Solution.VC.db-shm
palmod/.vs/PalMod/v16/Solution.VC.db-wal
palmod/Debug/en-gb/PalMod.exe.mui
palmod/Debug/EN-US/PalMod.exe.mui
palmod/Debug/PalMod.exe.mui
palmod/Debug/palmod.muires
palmod/Release/en-gb/PalMod.exe.mui
palmod/Release/EN-US/PalMod.exe.mui
palmod/Release/PalMod.exe.mui
palmod/Release/palmod.muires
palmod/PalMod.rcpp
palmod/Debug/tmnttfe.txt
palmod/Debug/mshvsf-7be.txt
palmod/Debug/REDEARTHe.txt
